.wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;

  /* Responsive Padding */
  padding-left: 20px;
  @media (min-width: 768px) {
    padding-left: 40px;
  }

  transform: translateY(-50%);
  z-index: 10000;
  display: flex;

  /* Navbar gibi dikeyde ortala */
  align-items: center;

  mix-blend-mode: difference;
  pointer-events: none;
}

.curtain {
  position: fixed;
  inset: 0;
  background-color: #121212;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
